html {
	font-size: 16px;
}

.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: #2E406E;
	text-decoration: none;
	padding: .5rem;
	display: flex;
	transition: all .5s;
	border-radius: 1rem 1rem 1rem 1rem;
	
}

.icon-facebook {
	/* background: #2E406E; */
}

.icon-twitter {
	/* background: #339DC5; */
	color: #339DC5;
}

.icon-youtube {
	/* background: #E83028; */
	color: #E83028;
}

.icon-instagram {
	/* background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); */
	color: #F93660;
}


.icon-facebook:hover {
	color: white;
	background: #2E406E;
	/* padding-right: 3rem; */
	/* transform: rotate(360deg); */
	border-radius: 1rem 1rem 1rem 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
	animation-name: example;
	margin-right:.5rem;
	animation-duration: 4s;
}

.icon-twitter:hover {
	color: white;
	background: #339DC5;
	/* padding-right: 3rem; */
	/* transform: rotate(360deg); */
	border-radius: 1rem 1rem 1rem 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
	margin-right:.5rem;
	animation-duration: 4s;
}

.icon-youtube:hover {
	color: white;
	background: #E83028;
	/* padding-right: 3rem; */
	/* transform: rotate(360deg); */
	border-radius: 1rem 1rem 1rem 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
	margin-right:.5rem;
	animation-duration: 4s;
}


.icon-instagram:hover {
	color: white;
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
	/* padding-right: 3rem; */
	/* transform: rotate(360deg); */
	border-radius: 1rem 1rem 1rem 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
	margin-right:.5rem;
	animation-duration: 4s;
}

.icon:hover {
	color: white;
	/* background: #2E406E; */
	/* padding-right: 3rem; */
	/* transform: rotate(360deg); */
	border-radius: 1rem 1rem 1rem 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
	/* animation-name: example; */
	margin-right:.5rem;
	animation-duration: 4s;
}



